body {
    font-family:'Roboto Mono';
    margin: 0;
    padding:  0;
    background-image: url('Soft.jpg');
    font-size: 16px;
    color: #777;
    font-family: 300;
	text-align: center;
	background-repeat: no-repeat;
	
}

img {
	width: 160px;
	height: 160px;
	padding: 30px;
}
	

#login-box {
    font-family:'Roboto Mono';
    position:relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: rgb(255,255,255, 0.3) ;
    box-shadow: 0 2px 4px rgba(255,255,255);
}

p {
    font-family:'Roboto Mono';
	text-align: center;
	font-size: 20px;

}

h1 {
    margin: 0 0 20px 0;
    font-weight: 900;
    font-size: 30px;
	text-align: center;
	color: #4A274F;

}

input[type="text"],
input[type="password"]

{
    display: blocks;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    outline: none;
    border: none;
	border-bottom: 2px solid grey;
	font-size: 20px;
    font-family: sans-serif;
    font-weight: 15px;
    transition: 0.2s ease;
	background: rgb(255,255,255, 0);
	color: white;

}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #ffa500;
    border: none;
    border-radius: 2px;
    color: #fff;
	font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus

{
    background: #ff5722;
    transition: 0.2s ease

}

#this-is-an-extra-css-too
/*
.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding:40px;
    width:300px;
    height:400px;
    background-image:url();
    background-size: cover;
    background-position:center;

}
*/